*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    color          : inherit;
    text-decoration: none;
    cursor         : pointer;
    font-family    : Manrope;
    font-style     : normal;
    font-family    : 'Manrope', sans-serif;
}

ul {
    list-style : none;
    font-family: Manrope;
    font-style : normal;
    font-family: 'Manrope', sans-serif;
}

button {
    font            : inherit;
    color           : inherit;
    background-color: transparent;
    border          : none;
    outline         : none;
    text-decoration : none;
    cursor          : pointer;
    font-family     : Manrope;
    font-style      : normal;
    font-family     : 'Manrope', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: Manrope;
    font-style : normal;
    font-family: 'Manrope', sans-serif;
}

p {
    font-family: Manrope;
    font-style : normal;
    font-family: 'Manrope', sans-serif;
}

.container {
    padding  : 0 10px;
    max-width: 1220px;
    margin   : 0 auto;
}

.header {
    background-image: url(../images/header-img.jpg);
    margin-bottom   : 90px;
}

.header__inner {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    margin-bottom  : 95px;
}

.menu__btn {
    display: none;
}

.menu {
    display    : flex;
    align-items: center;
}

.menu__list {
    display: flex;
}

.menu__item {
    color  : #fff;
    padding: 0 30px;
}

.header__phone {
    color       : #FFFFFF;
    margin-right: 20px;
    font-weight : 800;
    font-size   : 20px;
    line-height : 27px;
}

.call {
    width        : 214px;
    height       : 55px;
    color        : #000000;
    background   : #5BBFC8;
    border-radius: 5px;
    font-weight  : 800;
    font-size    : 16px;
    line-height  : 22px;
}




.top__call {
    display        : flex;
    align-items    : center;
    justify-content: center;
    padding-bottom : 7px;
    width          : 260px;
    height         : 66px;
    color          : #000000;
    background     : #FFD200;
    border-radius  : 5px;
    font-weight    : 700;
    font-size      : 16px;
    line-height    : 22px;
    margin-bottom  : 65px;
}

.top__title {
    color        : #fff;
    font-weight  : 800;
    font-size    : 64px;
    line-height  : 80px;
    margin-bottom: 10px;
}

.top__text {
    color        : #fff;
    width        : 530px;
    font-weight  : 300;
    font-size    : 18px;
    line-height  : 25px;
    margin-bottom: 65px;
}

.top__call-img {
    height: 23px;
}

.top__repair {
    width           : 380px;
    height          : 288px;
    background-image: url(../images/top-img.svg);
}

.top__items {
    display: flex;
}

.top__item {
    width        : 190px;
    height       : 288px;
    background   : #5BBFC8;
    border-radius: 10px;
    margin       : 0 10px;
}

.top__item-price {
    background   : #B0B0B0;
    border-radius: 5px;
    width        : 80px;
    margin       : 8px;
    padding-left : 10px;
}

.top__item-text {
    font-weight: 800;
    font-size  : 19px;
    line-height: 25px;
    margin     : 8px;
}

.top__item-img {
    margin-top  : 86px;
    padding-left: 8px;
}

.sedan {
    background: #FFD300;
}

.sedan__img {
    margin-top: 140px;
}

.jeep {
    background: #4B5257;
}

.jeep__img {
    margin-top: 102px;
}

.entities__title {
    text-align   : center;
    margin-bottom: 65px;
}

.entities__title-item {
    font-weight: 800;
    font-size  : 45px;
    line-height: 55px;
}

.entities__title-text {
    font-weight: bold;
    font-size  : 22px;
    line-height: 35px;
    padding-top: 10px;
}

.entities__yellow-text {
    padding         : 0 3px;
    background-color: #FFD300;
    border-radius   : 5px;
}

.ntities__inner-images {
    width            : 100%;
    background-repeat: no-repeat;
}

.entities__inner-img {
    width: 100%;
}

.entities__inner {
    display: flex;
}

.entities__inner-list {
    margin-bottom: 55px;
    margin-left  : 95px;
    padding-top  : 50px;
}

.entities__inner-dicor {
    border       : 2px solid #171717;
    border-radius: 5px;
    transform    : rotate(-90deg);
    margin-right : 13px;
}

.entities__inner-list-text {
    font-weight: bold;
    font-size  : 22px;
    line-height: 45px;
}

.entities__inner-send-phone {
    margin-left  : 124px;
    margin-bottom: 31px;
}

#phone {
    padding-top: 20px;
    border     : none;
}

.send {
    margin-left: 124px;
}

.benefits {
    height           : 1003px;
    background-repeat: no-repeat;
    background-image : url(../images/benefits.jpg);
}

.benefits__inner {
    padding  : 0 10px;
    max-width: 990px;
    margin   : 0 auto;
}

.benefits__title {
    padding-top: 95px;
    text-align : center;
    font-weight: 800;
    font-size  : 45px;
    line-height: 55px;

}

.benefits__list {
    position   : relative;
    padding-top: 163px;
}

.benefits__list-item,
.benefits__list-items {
    margin  : 20px 0;
    position: absolute;
}

.benefits__list-item {
    left: -15px;
}

.benefits__list-items {
    right: -15px;
}

.benefits__list-text,
.benefits__list-text-left {
    margin-bottom: 25px;
    font-weight  : 800;
    font-size    : 20px;
    line-height  : 23px;
}

.benefits__list-text {
    margin-bottom: 49px;
}

.denefits__img {
    width       : 100%;
    height      : 1000px;
    text-align  : center;
    margin-left : 0;
    margin-right: 0;
}

.benefits__line {
    margin-top : 15px;
    margin-left: -20px;
    width      : 319px;
    border     : 1px dashed #000000;
}

.line__45deg {
    top        : 41px;
    position   : absolute;
    width      : 245px;
    border     : 1px dashed #000000;
    transform  : rotate(44.33deg);
    margin-left: 266px;
    margin-top : 83px;
}

.line__-45deg {
    top        : 216px;
    position   : absolute;
    width      : 245px;
    border     : 1px dashed #000000;
    transform  : rotate(-44.33deg);
    margin-left: 266px;
}

.line__-45deg-ridth {
    top       : 136px;
    position  : absolute;
    width     : 245px;
    border    : 1px dashed #000000;
    transform : rotate(44.33deg);
    margin-top: 83px;
    right     : 285px;
}

.line__45deg-ridth {
    top      : 124px;
    position : absolute;
    width    : 245px;
    border   : 1px dashed #000000;
    transform: rotate(-44.33deg);
    right    : 285px;
}

.benefits__img {
    z-index : 1;
    position: absolute;
    margin  : 0 auto;
    left    : 0;
    right   : 0;
}


.call__24hr {
    padding-top     : 128px;
    height          : 483px;
    background-image: url(../images/24hr.jpg);
}

.call__24hr-title {
    font-weight  : 800;
    font-size    : 45px;
    line-height  : 55px;
    text-align   : center;
    margin-bottom: 60px;
}

.call__24hr-button {
    display        : flex;
    justify-content: center;
    align-items    : flex-end;
}

.call__24hr-text {
    margin-bottom: 15px;
    margin-left  : 85px;
}

.phone {
    width         : 350px;
    height        : 66px;
    background    : #FFFFFF;
    border-radius : 5px;
    padding-left  : 65px;
    font-size     : 18px;
    padding-bottom: 19px;
    color         : #000000;
}

.call__24hr-send {
    width        : 250px;
    height       : 66px;
    background   : #17181C;
    border-radius: 5px;
    color        : #FFFFFF;
}

.additionally__title {
    font-weight  : 800;
    font-size    : 45px;
    line-height  : 55px;
    text-align   : center;
    margin-top   : 94px;
    margin-bottom: 71px;
}

.additionally__inner {
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-bottom  : 118px;
}

.additionally__text {
    font-weight: bold;
    font-size  : 22px;
    line-height: 35px;
    list-style : disc;
    margin-left: 214px;
}

.map {
    background-image: url(../images/bg__map.jpg);
    height          : 777px;
    margin-bottom   : 95px;
}

.map__title {
    font-weight   : 800;
    font-size     : 45px;
    line-height   : 55px;
    text-transform: uppercase;
    color         : #FFFFFF;
}

.map__text {
    font-weight: 600;
    font-size  : 18px;
    line-height: 30px;
    color      : #FFFFFF;
}

.map__inner {
    display: flex;
}

.footer__map {
    position: absolute;
    right   : 0;
}

.map__item {
    display    : flex;
    align-items: center;
    margin-top : 226px;
}

.map__line {
    width        : 155px;
    background   : #FFFFFF;
    border       : 7px solid #FFFFFF;
    border-radius: 5px;
    transform    : rotate(-90deg);
    margin-right : -31px;
}

.map__point-text {
    display     : flex;
    margin-top  : 80px;
    padding-left: 130px;
}

.map__point {
    width        : 34px;
    height       : 34px;
    border-radius: 50%;
    background   : #D07C75;
    border       : 2px solid #FFFFFF;
    box-sizing   : border-box;
    margin-right : 40px;
}

.price__title {
    text-align   : center;
    font-weight  : 800;
    font-size    : 45px;
    line-height  : 55px;
    color        : #17181C;
    margin-bottom: 150px;
}

.price__button {
    left         : 0;
    right        : 0;
    margin       : 0 auto;
    margin-top   : 63px;
    margin-bottom: 93px;
}

.price__roll-text {
    margin-left  : 259px;
    margin-top   : 15px;
    padding-right: 45px;
}

.price__roll {
    margin-top     : -28px;
    display        : flex;
    justify-content: center;
    margin-bottom  : 42px;
}

.roll {
    margin: 0 10px 0 10px;
}

.roll__point {
    z-index      : 2;
    margin-left  : 9px;
    margin-top   : 14px;
    position     : absolute;
    border       : 5px solid #ffffff78;
    width        : 18px;
    height       : 18px;
    background   : #FFD200;
    border-radius: 50%;
}

.margin-left {
    margin-left: 24px;
}

.tabs-content {
    display: none;
}

.tabs-content--active {
    display: block;
}

.price__list {
    width           : 829px;
    display         : flex;
    justify-content : space-between;
    margin          : 0 auto;
    background-color: #e7e7e7;
    border-radius   : 5px;
    padding         : 6px;
    margin-bottom   : 4px;
}



.price__line-button {
    border    : 2px solid #90969b;
    margin-top: 37px;
    position  : absolute;
    width     : 316px;
}

.reviews__title {
    font-weight  : 800;
    font-size    : 45px;
    line-height  : 55px;
    text-align   : center;
    margin-top   : 94px;
    margin-bottom: 71px;
}

.reviews__list {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
}

.reviews__commit {
    display       : flex;
    flex-direction: column;
    margin        : 19px auto;
    align-items   : center;
}

.reviews__video {
    width : 520px;
    height: 255px;
}

.iframe {
    margin: 20px 20px;
}

.iframe__text {
    font-weight: 800;
    font-size  : 22px;
    line-height: 55px;
}

.partners {
    margin-top   : 92px;
    margin-bottom: 193px;
}

.partners__title {
    margin-bottom: 92px;
    text-align   : center;
    font-size    : 45px;
    line-height  : 55px;
}

.img__slider{
    margin: 6px;
}

.slick-prev {
    left: -20px;
}

.slick-next {
    right: -20px;
}