*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    font-family: Manrope;
    font-style: normal;
    font-family: "Manrope", sans-serif;
}

ul {
    list-style: none;
    font-family: Manrope;
    font-style: normal;
    font-family: "Manrope", sans-serif;
}

button {
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-family: Manrope;
    font-style: normal;
    font-family: "Manrope", sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: Manrope;
    font-style: normal;
    font-family: "Manrope", sans-serif;
}

p {
    font-style: normal;
    font-family: "Manrope", sans-serif;
}

.container {
    padding: 0 25px;
    max-width: 1220px;
    margin: 0 auto;
}

.header {
    background-image: url(../images/header-img.jpg);
    margin-bottom: 90px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 95px;
}

.menu__list-link {
    display: flex;
    align-items: center;
}

.logo__img {
    margin-top: 16px;
}

.menu__btn {
    display: none;
}

.menu__list {
    display: flex;
}

.menu__item {
    color: #fff;
    padding: 0 30px;
}

.header__phone {
    color: #ffffff;
    margin-right: 20px;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
}

.call {
    width: 214px;
    height: 55px;
    color: #000000;
    background: #5bbfc8;
    border-radius: 5px;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
}

.top__call {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 7px;
    width: 260px;
    height: 66px;
    color: #000000;
    background: #ffd200;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 65px;
}

.top__title {
    color: #fff;
    font-weight: 800;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 10px;
}

.top__text {
    color: #fff;
    max-width: 530px;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 65px;
}

.top__call-img {
    height: 23px;
}

.top__repair {
    width: 380px;
    height: 288px;
    background-image: url(../images/top-img.svg);
}

.top__items {
    display: flex;
}

.top__repair-big-text {
    font-weight: 800;
    font-size: 27px;
    line-height: 34px;
    margin: 60px 38px 0px;
}

.top__repair-border {
    border: 3px solid #000;
    border-radius: 5px;
    width: 88px;
    margin-left: 41px;
    margin-top: 29px;
}

.top__repair-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin: 27px 36px;
}

.top__item {
    width: 190px;
    height: 288px;
    background: #5bbfc8;
    border-radius: 10px;
    margin: 0 10px;
}

.top__item-price {
    background: #b0b0b0;
    border-radius: 5px;
    width: 80px;
    margin: 8px;
    padding-left: 10px;
}

.top__item-text {
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    margin: 8px;
}

.top__item-img {
    margin-top: 86px;
    padding-left: 8px;
}

.sedan {
    background: #ffd300;
}

.sedan__img {
    margin-top: 140px;
}

.jeep {
    background: #4b5257;
}

.jeep__img {
    margin-top: 102px;
}

.entities__title {
    text-align: center;
    margin-bottom: 65px;
}

.entities__title-item {
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
}

.entities__title-text {
    font-weight: bold;
    font-size: 22px;
    line-height: 35px;
    padding-top: 10px;
}

.entities__yellow-text {
    padding: 0 3px;
    background-color: #ffd300;
    border-radius: 5px;
}

.ntities__inner-images {
    width: 100%;
    background-repeat: no-repeat;
}

.entities__inner-img {
    width: 100%;
}

.entities__inner {
    display: flex;
}

.entities__inner-list {
    margin-bottom: 55px;
    margin-left: 95px;
    padding-top: 50px;
}

.entities__inner-dicor {
    border: 2px solid #171717;
    border-radius: 5px;
    transform: rotate(-90deg);
    margin-right: 13px;
}

.entities__inner-list-text {
    font-weight: bold;
    font-size: 22px;
    line-height: 45px;
}

.entities__inner-send-phone {
    margin-left: 124px;
    margin-bottom: 31px;
}

#phone {
    padding-bottom: 7px;
    padding-top: 7px;
    border: none;
    margin-top: 13px;
}

.send {
    margin-left: 124px;
}

.benefits {
    height: 1003px;
    background-repeat: no-repeat;
    background-image: url(../images/benefits.jpg);
}

.benefits__inner {
    padding: 0 10px;
    max-width: 990px;
    margin: 0 auto;
}

.benefits__title {
    padding-top: 95px;
    text-align: center;
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
}

.benefits__list {
    position: relative;
    padding-top: 163px;
}

.benefits__list-item,
.benefits__list-items {
    margin: 20px 0;
    position: absolute;
}

.benefits__list-item {
    left: -15px;
}

.benefits__list-items {
    right: -15px;
}

.benefits__list-text,
.benefits__list-text-left {
    margin-bottom: 25px;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
}

.benefits__list-text {
    margin-bottom: 49px;
}

.denefits__img {
    width: 100%;
    height: 1000px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.benefits__line {
    margin-top: 15px;
    margin-left: -20px;
    width: 319px;
    border: 1px dashed #000000;
}

.line__45deg {
    top: 41px;
    position: absolute;
    width: 245px;
    border: 1px dashed #000000;
    transform: rotate(44.33deg);
    margin-left: 266px;
    margin-top: 83px;
}

.line__-45deg {
    top: 216px;
    position: absolute;
    width: 245px;
    border: 1px dashed #000000;
    transform: rotate(-44.33deg);
    margin-left: 266px;
}

.line__-45deg-ridth {
    top: 136px;
    position: absolute;
    width: 245px;
    border: 1px dashed #000000;
    transform: rotate(44.33deg);
    margin-top: 83px;
    right: 285px;
}

.line__45deg-ridth {
    top: 124px;
    position: absolute;
    width: 245px;
    border: 1px dashed #000000;
    transform: rotate(-44.33deg);
    right: 285px;
}

.benefits__img {
    z-index: 1;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.call__24hr {
    padding-top: 128px;
    height: 483px;
    background-image: url(../images/24hr.jpg);
}

.call__24hr-title {
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    margin-bottom: 60px;
}

.call__24hr-button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.call__24hr-text {
    margin-bottom: 15px;
    margin-left: 85px;
}

.phone {
    width: 350px;
    height: 66px;
    background: #ffffff;
    border-radius: 5px;
    padding-left: 65px;
    font-size: 18px;
    padding-bottom: 19px;
    color: #000000;
}

.call__24hr-send {
    width: 250px;
    height: 66px;
    background: #17181c;
    border-radius: 5px;
    color: #ffffff;
}

.popup__bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: inherit;
    display: none;
}

.popup {
    position: absolute;
    max-width: 426px;
    height: 560px;
    top: 50%;
    left: 50%;
    background-color: #fff;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    transform: translate(-50%, -50%);
    padding-top: 60px;
}

.text__popup {
    margin-left: 43px;
    margin-top: 102px;
    width: 300px;
    color: #fff;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
}

.your__phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    margin-top: 82px;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    margin-left: 46px;
}

.close__popup {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.call__popup {
    width: 250px;
    height: 66px;
    border-radius: 5px;
    background: #ffd200;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    margin-right: 57px;
    margin-top: 388px;
}

.phone__popup {
    margin-top: 110px;
    margin-left: 16px;
    width: 350px;
    height: 66px;
    background: #ffffff;
    border-radius: 5px;
    padding-left: 75px;
    font-size: 18px;
    padding-bottom: 19px;
    color: #000000;
}

.additionally__title {
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    margin-top: 94px;
    margin-bottom: 71px;
}

.additionally__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 118px;
}

.additionally__text {
    font-weight: bold;
    font-size: 22px;
    line-height: 35px;
    list-style: disc;
    margin-left: 214px;
}

.map {
    background-image: url(../images/bg__map.jpg);
    height: 777px;
    margin-bottom: 95px;
}

.map__title {
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
    text-transform: uppercase;
    color: #ffffff;
}

.map__text {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
}

.map__inner {
    display: flex;
}

.footer__map,
.map__iframe {
    height: 777px;
    width: 800px;
    position: absolute;
    right: 0;
}

.map__item {
    display: flex;
    align-items: center;
    margin-top: 226px;
}

.map__line {
    width: 155px;
    background: #ffffff;
    border: 7px solid #ffffff;
    border-radius: 5px;
    transform: rotate(-90deg);
    margin-right: -31px;
}

.map__point-text {
    display: flex;
    margin-top: 80px;
    padding-left: 130px;
}

.map__point {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #d07c75;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    margin-right: 40px;
}

.price__title {
    text-align: center;
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
    color: #17181c;
    margin-bottom: 150px;
}

.tabs-content {
    display: none;
}

.tabs-content--active {
    display: block;
}

.tabs-content {
    max-width: 680px;
    margin: 0 auto;
}

.tabs-wrapper {
    margin-left: 160px;
    text-align: center;
}

.tab {
    margin-left: 15px;
}

.tab--active {
    font-size: 16px;
    line-height: 25px;
    font-weight: 800;
}

.price__text-line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 42px;
}

.price__line {
    border: 2px solid #ebe5e5;
    border-radius: 5px;
    width: 330px;
    margin-left: 42px;
}

.price__roll {
    position: absolute;
    border: 10px solid #fbf259;
    border-radius: 50%;
    margin: -59px 0px 0px 289px;
}

.price__roll::before {
    content: "";
    position: absolute;
    border: 5px solid #fad209;
    border-radius: 50%;
    z-index: 1;
    margin-left: -5px;
    margin-top: -5px;
}

.f-2 {
    margin-left: 342px;
}

.f-3 {
    margin-left: 391px;
}

.f-4 {
    margin-left: 438px;
}

.f-5 {
    margin-left: 483px;
}

.f-6 {
    margin-left: 548px;
}

.price__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edf0fb;
    border-radius: 5px;
    margin-top: 6px;
    padding: 5px 30px;
}

.price__button {
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 63px;
    margin-bottom: 93px;
}

.reviews__title {
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    margin-top: 94px;
    margin-bottom: 71px;
}

.reviews__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reviews__commit {
    display: flex;
    flex-direction: column;
    margin: 19px auto;
    align-items: center;
}

.reviews__video {
    width: 520px;
    height: 255px;
}

.iframe__text {
    font-weight: 800;
    font-size: 22px;
    line-height: 55px;
}

.partners {
    margin-top: 92px;
    margin-bottom: 193px;
}

.partners__title {
    margin-bottom: 92px;
    text-align: center;
    font-size: 45px;
    line-height: 55px;
}

.slider__partners {
    width: 90%;
    height: 444px;
    margin: 20px auto;
    overflow: hidden;
}

.slider__wrapper {
    display: flex;
    flex-wrap: nowrap;
    transition: all ease 1s;
}

.img__slider {
    display: flex;
    margin: 6px;
}

.slick-arrow {
    width: 32px;
    height: 32px;
    position: absolute;
    margin-top: 400px;
    right: 0;
    font-size: 0;
    z-index: 5;
}

.slick-next {
    background: url(../images/arrow-next.svg) no-repeat;
    margin-right: 80px;
}

.slick-prev {
    background: url(../images/arrow-left.svg) no-repeat;
    margin-right: 125px;
}

footer {
    height: 300px;
    background: #000;
    color: #fff;
}

.footer__img {
    position: absolute;
    width: 76vw;
    margin-top: -150px;
    right: 80px;
}

.footer__inner {
    display: flex;
    align-items: flex-end;
    margin-top: -25px;
    margin-right: 60px;
    justify-content: flex-end;
}

.footer__logo-img {
    margin-top: 36px;
}

.footer__list {
    margin-left: 116px;
    display: flex;
}

.footer__link {
    margin-right: 33px;
}

.footer__phone {
    margin-left: 101px;
    color: #FFD300;
}

.footer__namber {
    color: #FFD300;
    margin-left: 10px;
}

.footer__social {
    display: flex;
    align-items: center;
    margin-right: 54px;
    margin-top: 22px;
    justify-content: flex-end;
}

.instagram {
    margin-right: 30px;
}

.whatsapp {
    color: #FFD300;
    border: 1px solid #FFD300;
    border-radius: 5px;
    padding: 8px 20px;
}

.footer__whatsapp {
    color: #FFD300;
    border: solid 1px #FFD300;
    border-radius: 4px;
    padding: 11px 20px;
}

.footer__line {
    border: 1px solid;
    width: 98vw;
    right: 1px;
    position: absolute;
    margin-top: 86px;
}

.footer__contact {
    margin-top: 19px;
    margin-right: 57px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.footer__and {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

@media (max-width: 1660px) {
    .footer__img {
        width: 83vw;
    }
}

@media (max-width: 1600px) {
    .footer__map,
    .map__iframe {
        height: 777px;
        width: 700px;
    }
}

@media (max-width: 1530px) {
    .entities__inner {
        display: flex;
        align-items: center;
    }
    .entities__inner-item {
        margin-left: -67px;
    }
    .footer__img {
        width: 93vw;
    }
}

@media (max-width: 1450px) {
    .entities__inner-list-text {
        font-size: 19px;
        line-height: 40px;
    }
    .map__items {
        margin-left: -90px;
    }
}

@media (max-width: 1400px) {
    .footer__img {
        margin-top: -143px;
    }
}

@media (max-width: 1225px) {
    .footer__img {
        margin-top: -122px;
    }
}

@media (max-width: 1200px) {
    .map__iframe {
        width: 600px;
    }
}

@media (max-width: 1125px) {
    .header {
        background: url(../images/header-img.jpg) no-repeat;
        margin-bottom: 90px;
    }
    .menu {
        margin: 0 auto;
        width: 413.62px;
        height: 567px;
    }
    .menu__list-link {
        margin: 0 auto;
        left: 0;
        right: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        transform: translateY(-130%);
        transition: all 0.3s;
    }
    .menu__list-link.menu__list-link--active {
        transform: translateY(0%);
        padding: 100px 0 50px;
        background: rgba(0, 0, 0, 0.8);
    }
    .menu__list {
        margin-top: 25px;
        font-weight: 800;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
        margin-bottom: 66px;
        display: flex;
        flex-direction: column;
    }
    .burger {
        display: block;
        width: 50px;
        height: 50px;
        cursor: pointer;
        position: absolute;
        z-index: 10;
        right: 10px;
        top: 20px;
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        padding: 0;
        background: url(../images/menu-popup.svg) no-repeat center;
        background-size: contain;
    }
    .burger--active {
        width: 35px;
        height: 35px;
        right: 18px;
        top: 30px;
        background: url(../images/close-popup.svg) no-repeat center;
        background-size: contain;
    }
    .logo__img {
        z-index: 5;
        top: 6px;
        position: absolute;
    }
    .top {
        margin-top: -417px;
    }
    .header__phone {
        margin-bottom: 24px;
    }
    .map {
        height: 550px;
    }
    .map__inner {
        display: flow-root;
    }
    .map__items {
        margin-top: -86px;
        text-align: inherit;
        justify-content: center;
        display: grid;
    }
    .footer__map {
        margin: 0 auto;
        max-width: 1125px;
    }
    .map__iframe {
        height: 550px;
        width: 99vw;
        margin-top: 131px;
    }
    object {
        margin-top: 131px;
        height: 550px;
        width: calc(100vw - 4px);
    }
    .price {
        position: relative;
        top: 540px;
    }
    .price__title {
        margin-bottom: 80px;
    }
    .reviews__title {
        margin-top: 533px;
    }
    .iframe {
        margin: 0 20px;
    }
}

@media (max-width: 1080px) {
    .footer__phone {
        margin-left: 20px;
    }
}

@media (max-width: 1045px) {
    .top__items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top__repair-border {
        margin: 0 auto;
    }
    .top__repair {
        text-align: center;
        width: 100%;
        background: url(../images/repair.svg) no-repeat center;
    }
    .top__repair-big-text {
        font-weight: 800;
        font-size: 27px;
        line-height: 34px;
        margin: 60px 38px 24px;
    }
    .top__item {
        width: 100%;
        height: 140px;
        background: #5bbfc8;
        border-radius: 10px;
        margin: 9px 10px 0;
    }
    .sedan {
        display: block;
        background: #ffd300;
        align-items: center;
    }
    .top__item-price {
        margin-top: 25px;
        padding-left: 10px;
        margin-left: 20px;
    }
    .sedan__img {
        bottom: -206px;
        right: 25px;
    }
    .jeep__img {
        margin-top: -42px;
    }
    .treller__img {
        margin-top: -58px;
    }
    .top__item-text {
        margin-left: 20px;
    }
    .jeep__img {
        margin-top: -44px;
        right: 25px;
    }
    .top__item-img {
        position: absolute;
        right: 40px;
    }
    .entities__inner {
        flex-direction: column;
    }
    .entities__inner-images {
        order: 1;
    }
    .send {
        margin-bottom: 46px;
        margin-left: 87px;
    }
    .benefits {
        background-image: none;
    }
    .benefits__title {
        padding-top: 60px;
    }
    .benefits__list {
        padding-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .benefits__list-item,
    .benefits__list-items {
        left: 0;
        right: 0;
        margin: 0 auto;
        position: relative;
    }
    .line__45deg,
    .line__-45deg,
    .line__45deg-ridth,
    .line__-45deg-ridth {
        display: none;
    }
    .benefits__img {
        z-index: 0;
        position: relative;
        margin-top: 56px;
        margin-bottom: 68px;
    }
    .call__24hr {
        padding-top: 0;
        margin-top: 446px;
    }
    .call__24hr-title {
        padding-top: 80px;
    }
    .additionally__inner {
        flex-direction: column;
    }
    .additionally__text {
        margin-left: 0px;
    }
    .additionally__img {
        order: 1;
    }
    .additionally__list {
        margin-bottom: 30px;
    }
}

@media (max-width: 1000px) {
    footer {
        height: 630px;
    }
    .footer__img {
        margin-top: -99px;
    }
    .footer__logo-img {
        margin-left: 0px;
    }
    .footer__inner {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }
    .footer__list {
        margin-left: 30px;
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 45px;
    }
    .footer__list-link {
        margin-top: 17px;
        font-size: 23px;
    }
    .footer__phone {
        margin-left: 0px;
        font-size: 19px;
        margin-top: 51px;
        margin-bottom: 82px;
    }
    .footer__social {
        align-items: center;
        margin-right: -23px;
        margin-top: 6px;
        justify-content: center;
    }
    .footer__whatsapp {
        position: absolute;
        margin-top: -557px;
        margin-right: 26px;
    }
}

@media (max-width: 960px) {
    .price__list {
        width: auto;
    }
    .price__line-button {
        right: 11px;
    }
    .partners__title {
        line-height: 40px;
    }
}

@media(max-width:875px) {
    .footer__img {
        right: 30px;
        margin-top: -85px;
    }
}

@media (max-width:760px) {
    .tabs-wrapper {
        display: flex;
        margin-bottom: -114px;
        justify-content: flex-end;
    }
    .tabs {
        background-image: url(../images/);
        padding: 10px 70px 10px 0px;
        border-radius: 6px;
        background-color: #E5E5E5;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 6px;
    }
    .arrow {
        cursor: pointer;
        position: absolute;
        width: 3px;
        height: 3px;
        border: solid black;
        border-width: 0 2px 2px 0;
        padding: 3px;
        transform: rotate(45deg);
        margin-top: 15px;
        margin-right: 10px;
    }
    .arrow--axtive {
        transform: rotate(225deg);
    }
    .price__text-line {
        justify-content: flex-start;
        margin-left: 6px;
    }
    .price__line,
    .price__roll,
    .price__roll::before {
        display: none;
    }
}

@media(max-width:745px) {
    .footer__img {
        right: 30px;
        margin-top: -70px;
    }
}

@media (max-width: 720px) {
    .call__24hr {
        margin-top: 510px;
    }
}

@media (max-width: 700px) {
    .top__repair-big-text {
        text-align: left;
    }
    .top__repair-text {
        text-align: left;
    }
    .top__repair-border {
        margin-left: 48px;
    }
    .top__title {
        font-size: 50px;
        line-height: 53px;
    }
    .top__text {
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 50px;
    }
    .top__call {
        margin-bottom: 48px;
        font-size: 14px;
        line-height: 20px;
        width: 238px;
        height: 50px;
    }
    .sedan__img {
        bottom: -97px;
        right: 40px;
    }
    .call__help {
        margin: 0 auto;
        margin-bottom: 46px;
    }
    .entities__title-item {
        font-size: 30px;
        line-height: 35px;
    }
    .entities__title-text {
        font-size: 18px;
        line-height: 35px;
    }
    .entities__inner-list-text {
        font-size: 18px;
        line-height: 35px;
    }
    .call__24hr-button {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .call__24hr-phone {
        margin-bottom: 20px;
    }
    .call__24hr-title {
        font-size: 35px;
        padding-top: 90px;
        margin-bottom: 40px;
    }
    .call__24hr-text {
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .additionally__title {
        font-size: 40px;
    }
    .price__list-content {
        margin-top: 80px;
    }
    .tab {
        margin: 10px 10px;
        width: 70px;
    }
    .price__tab {
        margin-top: -8px;
        display: flex;
        margin-left: 62px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .row {
        cursor: pointer;
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        margin-top: 5px;
        position: absolute;
        right: 0;
        margin-right: 25px;
    }
    .row--active {
        cursor: pointer;
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-135deg);
        margin-top: 8px;
        position: absolute;
        right: 0;
        margin-right: 25px;
    }
    .price__roll--activ {
        height: 244px;
    }
}

@media (max-width: 630px) {
    .reviews__title {
        font-size: 30px;
        margin-bottom: 26px;
    }
    .footer__img {
        right: 30px;
        margin-top: -54px;
    }
    .iframe {
        width: 300px;
    }
}

@media (max-width: 580px) {
    .call__24hr-title {
        padding-top: 60px;
    }
    .additionally__title {
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .map {
        height: 440px;
    }
    .map__items {
        margin-left: 0;
    }
    .map__title {
        font-size: 30px;
        line-height: 35px;
    }
    .map__line {
        display: none;
    }
    .map__point-text {
        padding: 0;
    }
    object {
        margin-top: 81px;
        height: 440px;
    }
    .price {
        top: 400px;
    }
    .price__title {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 90px;
    }
    .map__iframe {
        height: 420px;
        margin-top: 80px;
    }
    .reviews__title {
        margin-top: 458px;
    }
    .partners__title {
        margin-top: -22px;
        margin-bottom: 67px;
        font-size: 30px;
    }
    .slick-prev {
        margin-right: 37px;
    }
    .slick-next {
        margin-right: -10px;
    }
}

@media (max-width: 543px) {
    .sedan__img {
        bottom: -153px;
    }
}

@media (max-width: 520px) {
    .top__item-img {
        display: none;
    }
    .footer__img {
        right: 30px;
        margin-top: -40px;
    }
}

@media (max-width: 465px) {
    .price__all {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 460px) {
    .top__title {
        font-size: 33px;
        line-height: 45px;
    }
    .top__text {
        font-size: 16px;
        line-height: 22px;
    }
    .top__repair-big-text {
        font-size: 20px;
        line-height: 27px;
    }
    .popup {
        width: 320px;
        height: 480px;
    }
    .text__popup {
        margin-left: 34px;
        width: 220px;
        margin-bottom: 15px;
    }
    .phone__popup {
        width: 249px;
        height: 47px;
        padding-left: 25px;
    }
    .call__popup {
        margin-right: 5px;
        margin-top: 360px;
    }
    .entities__inner-list-text {
        font-size: 12px;
    }
    .benefits__title {
        font-size: 30px;
        line-height: 35px;
        padding-top: 42px;
    }
    .benefits__list {
        padding-top: 80px;
    }
    .benefits__img {
        width: 100%;
    }
    .benefits__line {
        width: 277px;
        margin-left: 0;
    }
    .call__24hr {
        margin-top: 437px;
    }
    .call__24hr-title {
        font-size: 30px;
        line-height: 35px;
    }
    .phone {
        width: 250px;
        padding-left: 32px;
    }
    .additionally__img {
        width: 100%;
    }
    .additionally__title {
        font-size: 30px;
        line-height: 35px;
    }
    .additionally__title {
        font-size: 28px;
    }
    .price__title {
        margin-bottom: 45px;
    }
    .price__title {
        margin-bottom: 90px;
    }
}

@media (max-width: 440px) {
    .reviews__title {
        line-height: 31px;
    }
}

@media (max-width: 415px) {
    .footer__img {
        margin-top: -26px;
    }
}

@media (max-width: 400px) {
    .call__24hr {
        margin-top: 400px;
    }
    .call__24hr-title {
        font-size: 28px;
        padding-top: 70px;
    }
    .additionally__text {
        font-size: 17px;
    }
}

@media (max-width: 360px) {
    .call__24hr {
        margin-top: 313px;
    }
    .map__title {
        font-size: 26px;
        line-height: 33px;
    }
    .footer__whatsapp {
        font-size: 12px;
    }
}